
/* --black: #000000ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
--white: #ffffffff; */

@import './cmps/user-msg.css';
@import './cmps/book-preview-list.css';
@import './cmps/book-details.css';
@import './cmps/book-filter.css';
@import './cmps/book-review.css';
@import './cmps/book-add.css';
@import './home-page.css';
@import './about-page.css';
@import './base.css';



