.add-container {
    flex-basis: 50%;
    color: white;
    font-size: 1.2em;
}

.add-container h1 {
    display: inline;
    padding-right: .5em;
    padding-left: 2em;

}

.add-container input {
    height: 1.6em;
    margin-top: .4em;
    color: #14213dff;
    font-size: 1em;
}

.google-books-list {
    list-style-type: none;
    padding: 0;
}

.google-books-list li {
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    padding: 10px;
    border-bottom: #f07167 .1px solid;
    cursor: pointer;
}

.google-books-list li:hover {
background-color: rgb(59, 73, 107);}

.add-book-btn{
    background-color: transparent;
    font-size: 1.2em;
}
.add-book-btn:hover{
    background-color:  rgb(121, 135, 171);
}

.google-form{
    display: flex;
}

.search-btn{
    margin-left: 20px;
    height: 2.7em;
    background-color: #f07167;
    flex-grow: 1;
}