

.book-details {

    display: grid;
    place-items:center;
    text-align: center;
    background-color: #14213dff;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 6em;
    height: 90vh;
    overflow: auto;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100% 1fr;
    gap: 0px;
}



.book-details button{
    justify-self: end;
}
.book-details img{
    width: 20vw;
    height: 50vh;
    transition: rotate 1s;
    margin-bottom: 0;
}

.book-details img:hover{
    rotate: -10deg;
}

.book-details > *{
   margin: 10px auto;
   background-color: #e5e5e5ff;
}

.books-img{
    display: flex;
    gap: 10px;
}

.sale{
    height: 100%;
}

.title{
    font-size: 2em;
    color: #f07167;
    margin-bottom: .4em;
}

.main-details{
    font-size: 1em;
}

.long-text{
margin: 15px;
    
}

.close-btn{
    margin-top:10px;
}

.category{
    margin-top: .2em;
}

.cheap{
    color: green;
}
.expensive{
    color: red;
}

.actions {
    justify-self: end;
}

.book-edit {
    background-color: rgb(106, 126, 132);
    padding: 10px;
}
